.theme{
    color: #407BFF;
}
.bg-theme{
    background-color: #407BFF;
    color: white;
}
.main-heading{
    font-size: 2.5rem;
    font-weight: bold;
}
.arrow-position {
    top: 30%;
    left: 40%
}

.atom-position {
    top: 20%;
    left: 35%
}
.tab-secondary {
    background-color: #F0F0F0;
}

#what-is-clg{
    margin-top: 150px;
    background-color: #F1F7FF;
    border-radius: 20px;
    h1{
        margin: 0 0 20px 0;
    }
    p{
        width:50%;
        margin-left: 25%;
        font-size: 1.2rem;
        color: #212B36;
    }
}
#code-of-conduct{
    margin-top: 150px;
    font-size: 1.2rem;
    h1{
        margin: 40px 0;
    }
    ul {
        list-style: none;
        text-indent: -.9em;
        width:90%;
    }
    li{
        margin-bottom: 20px;
    }
    i{
        color: #407BFF;
    }
    .text-secondary{
        font-size: 1rem;
    }
}

#resources{
    margin-top: 150px;
    .text-secondary{
        font-size: 1.3rem;
    }
    .img-container{
        width: 50%;
        // height: 50%;
        margin-left: 25%;
    }
}
#organizers{
    margin-top: 150px;
    h1{
        margin-bottom: 50px;
    }
}
.col-md-3{
    margin-bottom: 20px;
}
.tool-content{
    display: flex;
    width:100%;
    justify-content: center;
    align-items: center;
    gap: 20px;

    img{
        width: 20%;
        height: auto;
    }
}
.faqs{
    margin-top:100px;
    h1{
        margin-bottom: 50px;
    }
}

#footer{
    background-color: #121830 !important;
    p{
        margin-bottom: 0;
        padding: 20px;
    }
}

// Bootstrap Extra Large Breakpoint

@media screen and (max-width:1200px) {
    #what-is-clg{
        margin-top:150px;
        max-width: 95vw;
        p{
            width:100%;
            margin-left: 0;
        }
    }
    #code-of-conduct{
        ul{
            width: 100%;
            margin-bottom: 0;
        }
    }
}